
.search-panel{
    position: absolute;
    margin: 103px 0 0 380px;
    border-radius: 8px;
    background: var(--white, #FFF);
    width: 960px;
    height: 60px;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 61.35px;
    box-sizing: border-box;
}
.search-panel:focus{
    outline: none;
}
.icon-search{
    position: absolute;
    margin: 119px 0 0 394.5px;
    cursor: pointer;
    z-index: 1;
}
.info-add{
    position: absolute;
    margin: 183px 0 0 380px;
    width: 960px;
    height: 140px;
    border-radius: 8px;
    background: var(--white, #FFF);
}
.info-add > h1, a:not(#MethodsDiv > div > a){
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    font-weight: 500;
}
.info-add > :first-child{
    font-size: 20px;
    width: 189px;
    height: 20px;
    margin: 40px 0 0 60px;
}
.info-add > a{
    font-size: 12px;
    width: 145px;
    height: 16px;
    font-weight: 600;
    cursor: pointer;
}
.info-add > :nth-child(2){
    margin: 92px 0 0 106px;
}
.info-add > :nth-child(3){
    margin: 92px 0 0  431px;
}
.info-add > a:hover{
    text-decoration: underline;
}
.info-add > img{
    position: absolute;
    margin: 40px 0 0 857px;
}
.add-panel{
    position: absolute;
    margin: 263px 0 0 357px;
    width: 1025px;
    height: 377px;
    border-radius: 8px;
    background: var(--logo, #266BD2);
}
.add-panel > :first-child{
    width: 189px;
    height: 20px;
    margin: 40px 0 0 60px;
    font-size: 20px;
    color: var(--white, #FFF);
    font-style: normal;
    display: flex;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
.add-panel > div{
    width: 895px;
    height: 197px;
    border-radius: 8px;
    background: var(--white, #FFF);
    position: absolute;
    margin: 120px 0 0 60px;
}
.add-panel > div > h1{
    font-size: 16px;
    color: var(--font-secondary, #9B9D9F);
    width: 360px;
    margin: 80px 0 0 240px;
    font-style: normal;
    display: flex;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}