html{
    transform: scale(0.8);
    transform-origin: top;
}
body{
width: 1400px;
height: 900px;
color: #262121;
margin: auto;
font-family: 'Roboto', sans-serif;
position: relative;
overflow: hidden;
cursor:default;
}
.Logo{
    width: 170px;
    height: 88px;
    margin-top: 60px;
    margin-left: 60px;
    position: absolute;
    cursor: pointer;
}
.Logo :first-child{
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 170px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
}
.Logo :nth-child(2){
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 170px;
    height: 22px;
    margin: 0%;
}
.quick-panel{
    height: 25px;
    width: 620px;
    margin-top: 88px;
    margin-left: 610px;
    position: absolute;
}
.quick-panel button{
    margin-right: 48px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: small-caps;
    width: auto;
    height: auto;
    display: inline-block;
    background: rgba(255, 255, 255, 0);;
    border:none;
    cursor: pointer;
    border-radius: 8px;
}
.quick-panel :last-child{
    margin-right: 0;
}
.quick-panel button:hover{
    color: #266BD2;
}
#MethodsDiv{
    position: absolute;
    margin: 125px 0 0 305px;
    width: 312px;
    height: 329px;
    border-radius: 8px;
    background: var(--white, #FFF);
    z-index: 2;
    display: none;
}
#MethodsDiv > div:first-of-type{
    position: absolute;
    margin: 40px 0 0 35px ;
}
#MethodsDiv > div > img{
    width: 15px;
    height: 16px;
    display: block;
    margin: 0 0 30px 0px;
}
#MethodsDiv > div:first-of-type > :nth-last-child(2){
    margin-bottom: 40px;
}
#MethodsDiv > div:last-of-type{
    position: absolute;
    margin: 40px 0 0 58px;
}
#MethodsDiv > div > a{
    max-width: 220.69px;
    font-size: 12.5px;
    font-weight: 600;
    margin: 0 0 30px 0;
    cursor: pointer;
    display: block;
    color: #262121;
    text-decoration: none;
}
#MethodsDiv > div > a:hover{
    color: var(--logo, #266BD2);
}
.user-office{
    position: absolute;
    width: 100px;
    height: 80.996px;
    margin: 65px 0px 0px 1240px;
}
.user-office img{
    margin-left: 28.5px;
    position: absolute;
}
.user-office button{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    height: auto;
    width: auto;
    margin-top: 58.996px;
    margin-left: 22.5px;
    background-color:rgba(255, 255, 255, 0);;
    border: none;
    border-radius: 8px;
}
.user-office button:hover{
    background: rgba(0, 0, 0, 0.1);;
}
.user-office >*{
    position: absolute;
    cursor: pointer;
}

