html{
    background-image: url(https://lpnu.ua/sites/default/files/2022/1/27/news/18463/lpfasad.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
}
.search-panel{
    border: none;
    width: 1280px;
    height: 60px;
    border-radius: 8px;
    background: var(--white, #FFF);
    margin: 218px 0px 0px 60px;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 81.8px;
    box-sizing: border-box;
}
.search-panel:focus{
    outline: none;
}
.icon-search{
    position: absolute;
    margin:  234px 0 0 80.25px;
    z-index: 2;
    cursor: pointer;
}
.panel-discipline{
    position: absolute;
    width: 1280px;
    height: 496px;
    border-radius: 12px;
    background: var(--color-secondary-2, #FBFBFC);
    margin: 348px 0 0 60px;
}
.panel-discipline button:not(img){
    width: 345px;
    height: 172px;
    border: none;
    position: absolute;
    border-radius: 12px;
    cursor: pointer;
}
.panel-discipline :first-child:not(img):not(h1){
    margin:58px 0 0 87px ;
    background: rgba(255, 191, 75, 0.70);
}
.panel-discipline :first-child:not(img):not(h1):hover{
    background: #F8BA4A;
}
.panel-discipline :nth-child(2):not(img):not(h1){
    margin:58px 0 0 467px;
    background: rgba(119, 202, 229, 0.70);
}
.panel-discipline :nth-child(2):not(img):not(h1):hover{
    background: #7ACAE3;
}
.panel-discipline :nth-child(3):not(img):not(h1){
    margin:58px 0 0 847px;
    background: rgba(169, 16, 160, 0.70);
}
.panel-discipline :nth-child(3):not(img):not(h1):hover{
    background: #B155AC;
}
.panel-discipline :nth-child(4):not(img):not(h1){
    margin:265px 0 0 87px;
    background: rgba(70, 16, 169, 0.70);
}
.panel-discipline :nth-child(4):not(img):not(h1):hover{
    background: #704DB0;
}
.panel-discipline :nth-child(5):not(img):not(h1){
    margin:265px 0 0 467px;
    background: rgba(18, 167, 104, 0.70);
}
.panel-discipline :nth-child(5):not(img):not(h1):hover{
    background: #209D68;
}
.panel-discipline :last-child:not(img):not(h1){
    margin:265px 0 0 847px;
    background: rgba(246, 118, 63, 0.75);
}
.panel-discipline :last-child:not(img):not(h1):hover{
    background: #EA7340;
}
.panel-discipline button >*:not(h1){
    margin: 29px 0px 0px 0px;
    position: static;
}
.panel-discipline button >*:not(img){
    font-size: 18.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 260px;
    height: auto;
    margin: 0 auto 10px auto;
}