.mathods-block {
    width: 900px;
    height: auto; /* Change height to auto for dynamic content */
    border-radius: 12px;
    background: var(--color-secondary-2, #FBFBFC);
    position: absolute;
    top: 250px; /* Adjusted top margin */
    left: 360px; /* Adjusted left margin */
    padding: 60px; /* Added padding for inner content */
}

.mathods-block > div:first-of-type {
    width: 790px;
    position: relative; /* Changed to relative positioning */
}

.mathods-block > div:first-of-type > h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600; /* Corrected font weight */
    line-height: normal;
    text-transform: uppercase;
    margin-top: 8px;
    margin-left: 20px;
    display: inline-block;
}

.mathods-block > div:first-of-type > img {
    display: inline-block;
    margin-left: 10px; /* Adjusted margin */
}

.mathods-block > div:nth-of-type(2) {
    margin-top: 32px; /* Adjusted top margin */
}

.mathods-block > div:nth-of-type(2) > * {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 32px; /* Adjusted right margin */
    display: inline-block;
}

.mathods-block > div > :not(:nth-child(2)) {
    text-decoration: none;
    color: #262121;
}

.mathods-block > div > a:hover {
    text-decoration: underline;
}

.mathods-block > h1:last-of-type {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    color: var(--font-secondary, #9B9D9F);
    margin-top: 32px; /* Adjusted top margin */
    margin-left: 20px; /* Adjusted left margin */
}

.mathods-block > div:nth-of-type(3) {
    margin-top: 32px; /* Adjusted top margin */
}

.mathods-block > div:nth-of-type(3) > img {
    margin-right: 30px; /* Adjusted right margin */
}

.mathods-block > div:last-of-type > a {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--font-secondary, #9B9D9F);
    margin-right: 55px; /* Adjusted right margin */
}

.mathods-block > div:last-of-type > a:hover {
    text-decoration: underline;
}
