
.marquee-container {
    width: 1280px;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    background: var(--color-secondary-2, #fbfbfcba);
    border-radius: 5px;
    height: 18px;
    margin: 323px 0 0 60px;
}

.marquee-content {
    display: inline-block;
    animation: marquee 10s linear infinite;
    font-weight: 600;
    width: 100%;
}

@keyframes marquee {
    0% {
        transform: translateX(-100%);
    }100%{
        transform: translate(100%)
    }
}